<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
   <style type="text/css">
        [v-cloak] {
          display: none;
        }
        table {
          border: 1px soli #e9e9e9;
          border-collapse: collapse;
          border-spacing: 0;
          empty-cells: show;
        }

        th, td {
          padding: 8px 16px;
          border: 1px solid #e9e9e9;
          text-align: left;
        }

        th {
          background-color: #f7f7f7;
          color: #5c6b77;
          font-weight: 600;
          white-space: nowrap;
        }
    </style>
</head>
<body>
<div id="app" cloak>
   <template v-if="lists.length">
    <div >
        <div >
            <div v-if="lists.length">
                <h1 >购物车示例</h1>
                <table>
                    <tr>
                        <th>
                            <input type="checkbox" @click="checkAll" :checked="isCheckAll()"> 全选
                        </th>
                        <th>序号</th>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        <th>商品数量</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="(list, index) in lists">
                        <td><input type="checkbox" @click="changeStatus(index)" :checked="hasCheck(index)"/></td>
                        <td>{{ index+1 }}</td>
                        <td>{{ list.name }}</td>
                        <td>{{ list.price }}</td>
                        <td>
                            <div>
                                <div>
                                    <button @click="cartReduce(index)" :disable="list.count === 1">-</button>
                                </div>
                                <div>{{ list.count }}</div>
                                <div>
                                    <button @click="cartAdd(list)">+</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button @click="removeThisLine(key, index)">移除</button>
                        </td>
                    </tr>
                </table>
                    <div>去支付：{{ prices }}</div>
            </div>
            <div v-else>
                <h1>购物车为空</h1>
            </div>
        </div>
    </div>
</template>
</div>

</body>
<script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            lists: [
                {name: 'Iphone7', price: 6188, count: 1, status: 1},
                {name: 'Ipad Pro', price: 5888, count: 1, status: 1},
                {name: 'Macbook Pro', price: 21488, count: 1, status: 1}
            ]
        },
         computed: {
            prices: function () {
                var prices = 0;
                for (var i = 0; i < this.lists.length; i++) {
                    var cart = this.lists[i];
                    if (cart.status) {
                        prices += cart.price * cart.count;
                    }
                }
                return prices > 0 ? prices.toString().replace(/\B(?=(\d{3})+$)/g, ',') : 0;
            }
        },
        methods: {
            cartReduce: function (list) {
                if (list.count === 1) return;
                list.count--;
            },
            cartAdd: function (list) {
                list.count++;
            },
            removeThisLine: function (index) {
                this.lists.splice(index, 1);
            },
            changeStatus: function (index) {
                this.lists[index].status = !this.lists[index].status;
            },
            hasCheck: function (index) {
                return this.lists[index].status;
            },
            isCheckAll: function () {
                var status = true;
                for (var i = 0; i < this.lists.length; i++) {
                    if (!this.lists[i].status) {
                        status = false;
                        return status;
                    }
                }
                return status;
            },
            checkAll: function () {
                var status = this.isCheckAll();
                status = status ? 0 : 1;
                for (var i = 0; i < this.lists.length; i++) {
                    this.lists[i].status = status;
                }
            }
        }
    })
</script>
</html>